<h3>Update Formateur</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">Id</label>
      <input type="text" class="form-control" id="id" required [(ngModel)]="formateur.id" name="id">
    </div>
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" class="form-control" id="nom" required [(ngModel)]="formateur.nom" name="nom">
    </div>
    <div class="form-group">
      <label for="prenom">Prénom</label>
      <input type="text" class="form-control" id="prenom" required [(ngModel)]="formateur.prenom" name="prenom">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="formateur.email" name="email">
    </div>
    <div class="form-group">
      <label for="tel">Tel</label>
      <input type="text" class="form-control" id="tel" required [(ngModel)]="formateur.tel" name="tel">
    </div>
    <div class="form-group">
      <label>Type</label>
      <select name="select" [(ngModel)]="formateur.type"  class="browser-default custom-select">
        <option [ngValue]="undefined">Sélectionner un type</option>
        <option value="Interne">  Interne </option>
        <option value="Externe">  Externe </option>
      </select>
    </div>
    <div class="form-group">
      <label>Organisme</label>
      <select name="select" [(ngModel)]="formateur.organisme"  class="browser-default custom-select">
        <option [ngValue]="undefined">Sélectionner un organisme</option>
        <option *ngFor="let organisme of organismes"  [ngValue]="organisme" >  {{organisme.libelle}} </option>
      </select>
    </div>



    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
